@import "src/scss/variables";

:host {
  display: block;
}

.app-wrapper {
  background-color: rgba(221, 228, 224, 0.3);
  min-height: calc(100vh - #{$header-height});

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - #{$header-height-desktop});
  }
}
