<div class="login-panel">

  <h1 class="title">Reset Forgotten Password</h1>

  <div class="form-body">
    <ng-container *ngIf="!loading; else isLoading">
      <ng-container *ngIf="!expired; else isExpired">
        <ng-container *ngIf="!success; else isSuccess">
          <app-change-password-common *ngIf="confirmationToken"
                                      [confirmationToken]="confirmationToken"
                                      [requireOldPassword]="false"
                                      (onSuccess)="onSuccess()"
                                      (onError)="onError($event)"
                                      [showCancel]="false"></app-change-password-common>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #isSuccess>
  <p>Your password has successfully been reset.</p>
  <p class="mt-2"><a routerLink="/login">Click here to login</a> </p>
</ng-template>

<ng-template #isExpired>
  <p>This reset password link has expired, <a routerLink="/forgot-password">click here to receive a new link.</a></p>
</ng-template>

<ng-template #isLoading>
  <app-loading></app-loading>
</ng-template>
