<div class="search-summary">
  <div *ngIf="!results">
    &nbsp;
  </div>
  <ng-container *ngIf="results">
    <div>
      Found {{results.totalElements}} {{results.totalElements > 1 ? 'matches' : 'match'}}
    </div>
    <app-pagination [results]="results" (onPageChange)="pageChange($event)"></app-pagination>
  </ng-container>
</div>
