<div class="login-panel">

  <h1 class="title">Login to Admin</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
   
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" autocapitalize="none" formControlName="email" class="form-control" id="email">
      </div>
   
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password">
      </div>
   
      <ng-container *ngIf="error">
        <ng-container *ngTemplateOutlet="isError"></ng-container>
      </ng-container>
   
      <div class="form-btns">
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          Login
        </button>
      </div>
    </form>
    <div class="mt-3 text-center">
      <span>Forgotten password? <a routerLink="/forgot-password">Click here.</a></span>
    </div>
</div>

<ng-template #isError>
  <div class="alert alert-danger" [ngSwitch]="error.code">
    <span *ngSwitchCase="'invalid_credentials'">
      Incorrect email or password.
    </span>
    <span *ngSwitchCase="'account_locked'">
      Your account has been locked.
    </span>
    <span *ngSwitchCase="'account_pending'">
      Your email address needs to be verified before you can access your account.
    </span>
    <span *ngSwitchCase="'UserNotConfirmedException'">
      You have not yet confirmed your email address. Please confirm before logging in.
    </span>
    <span *ngSwitchDefault>
      Something went wrong: {{error | prettyJson}}
    </span>
  </div>
</ng-template>
