/* Based on the Bootstrap 4 source compilation file
 * Found here: node_modules/bootstrap/scss/bootstrap
 *
 * Configure the bootstrap theme by providing overrides for variables, and specifying the import order (allowing
 * custom '_override' files to take precedence over Bootstrap's source code i.e:
 *
 * @import "~bootstrap/scss/mixins";
 * @import "mixin_overrides"; // This file should override or extend the content of Bootstrap's source file
 */

/* Override bootstrap's variables
 * For hints about variable names and their effect on the theme, visit https://bootstrap.build/app
 */

@import "../mixins";
@import "src/scss/variables";
$theme-colors: (
        "primary": brand(default-primary),
        //"secondary": brand(secondary),
        //"warning": brand(warning),
        //"danger": brand(danger),
        //"success": brand(success),
        //"info": brand(info)
);

// Modal
$modal-content-border-color: #ffffff;
$modal-content-border-radius: 0;
$modal-footer-border-color: transparent;
$modal-header-border-color: transparent;

/* Import necessary bootstrap SCSS files for compilation */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "modal-overrides";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
