.modal-backdrop {
  backdrop-filter: blur(6px);

  &.show {
    opacity: 1;
    background-color: #0004;
  }
}

ngb-modal-window {

  .modal-dialog {

    .modal-content {
      border-radius: 8px;
    }
  }

  // Expand default modal to 600px on ipad (portrait) and up
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 600px;
    }
  }
}
