<section class="container-fluid main-content">
  <div class="section-header mb-3">
    <h1>Users and devices</h1>
  </div>

  <app-error [error]="error"></app-error>

  <app-search-summary [results]="result" (onPageChange)="handlePageChange($event)"></app-search-summary>

  <table class="table">
    <thead>
    <tr>
      <th sortable="id" [reactiveForm]="form">Identifier</th>
      <th sortable="createdDate" [reactiveForm]="form">Registration date</th>
      <th >Total # MFD</th>
      <th >Weekly avg # MFD</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of result?.content">
      <td><a routerLink="{{item.identifier}}">{{item.identifier}}</a></td>
      <td>{{item.createdDate | date: 'dd/MM/yyyy hh:mm a'}}</td>
      <td>{{item.totalMfd}}</td>
      <td>{{item.averageMfdPerWeek}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</section>
