@import "src/scss/variables";
@import "src/scss/mixins";

:host {
  display: block;
  height: $header-height;
  background-color: white;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    height: $header-height-desktop;
  }

  /* TODO change to position: fixed for better browser support */
  position: sticky;
  top: 0;
  z-index: 1;
  @include brand-sans-serif-font();
}

#navbar {
  display: flex;
  justify-content: space-between;

  .nav-list {
    flex-basis: 70%;
    display: flex;
    justify-content: flex-start;
  }
}

.navbar {
  height: $header-height-desktop;
}

.dropdown-menu {
  * {
    font-size: 16px !important;
  }
}

.bg-dark {
   //background-color: brand('deep-green') !important;
   background-color: rgb(21, 62, 58, 0.8) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
