<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <div class="container-fluid">

    <a class="navbar-brand" href="#">Admin</a>

    <!-- Hide nav items if there is no user -->
    <ng-container *ngIf="(authService.user$ | async)">

      <button class="navbar-toggler hidden-sm-up" type="button" data-target="#navbar"
              aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
              (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="collapsed" class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav nav-list">

          <!-- Users -->
          <li class="nav-item d-flex" #rla='routerLinkActive' [routerLinkActive]="'active'">
           <a class="nav-link" [routerLink]="['/devices']">
             Devices
           </a>
          </li>

        </ul>

        <ul class="navbar-nav">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" ngbDropdownToggle>
              <fa-icon icon="cog"></fa-icon>
              Settings
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" [routerLink]="['/users']">
                Admins
              </a>
            </div>
          </li>

          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle"  href="javascript:void(0)" ngbDropdownToggle>
              {{(authService.user$ | async)?.firstName}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem (click)="changePassword()">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>

    </ng-container>

  </div>
</nav>
