<section class="container-fluid main-content">
  <div class="section-header mb-3">
    <h1>Meat Free Days for <a [routerLink]="['/devices']">{{deviceId}}</a></h1>
  </div>

  <app-error [error]="error"></app-error>

   <div class="search-summary">
     <div *ngIf="!results">
       &nbsp;
     </div>
     <ng-container *ngIf="results">
       <div>
         Found {{results?.length}} meat free days
       </div>
     </ng-container>
   </div>

  <table class="table" *ngIf="!loading">
    <thead>
    <tr>
      <th>Meat free day</th>
      <th>Week</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of results">
      <td>{{item.mfdDate | date: 'dd/MM/yyyy hh:mm a'}}</td>
      <td>{{week(item)}}</td>
    </tr>
    </tbody>
  </table>
</section>
