<section class="container-fluid main-content">
  <div class="section-header mb-3">
    <h1>Admins</h1>
  </div>

  <app-error [error]="error"></app-error>

  <app-search-summary [results]="result" (onPageChange)="handlePageChange($event)"></app-search-summary>

  <table class="table">
    <thead>
    <tr>
      <th sortable="id" [reactiveForm]="form">ID</th>
      <th sortable="name" [reactiveForm]="form">Name</th>
      <th sortable="status" [reactiveForm]="form">Status</th>
      <th sortable="status" [reactiveForm]="form">Last login</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of result?.content">
      <td><a routerLink="{{item.id}}/review">{{item.id}}</a></td>
      <td><a routerLink="{{item.id}}/review">{{item.firstName}} {{item.lastName}}</a></td>
      <td>{{item.status}}</td>
      <td>{{item.lastLogin | date: 'dd/MM/yyyy hh:mm a'}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</section>
