<div class="alert alert-danger" *ngIf="error">
  <ng-container *ngIf="error.code">
     <ng-container [ngSwitch]="error.code">
         <span *ngSwitchCase="'email_taken'">
           An account is already registered under that email address
         </span>
         <span *ngSwitchCase="'invalid_email_domain'">
           Your email domain does not match one of the elected domains of the organisation you are attempting to register
           against
         </span>
         <span *ngSwitchCase="'invalid-request'">
           {{error.message}}
         </span>
         <span *ngSwitchCase="'validation_error'">
           Some data is missing or incorrect
         </span>
         <span *ngSwitchDefault>
           Something went wrong: {{error?.error?.message || error?.message || (error | prettyJson)}}
         </span>
     </ng-container>
  </ng-container>
  <ng-container *ngIf="!error.code">
    {{error?.error?.message || error?.message || (error | prettyJson)}}
  </ng-container>
</div>
