@import "variables";

@mixin brand-sans-serif-font() {
  font-family: 'Rubik', sans-serif;
}

@mixin brand-serif-font() {
  font-family: 'Rubik', serif;
}

@function brand($color, $variant: 'default') {
  @if map_has_key($brand-colors, $color) {
    $val: map-get($brand-colors, $color);
    @if (type_of($val) == 'map') {
      @if not map_has_key($val, $variant) {
        @warn "The map argument (#{$val}) did not contain the key (#{$variant})";
        @return map_get($val, 'default');
      }
      @else {
        @return map_get($val, $variant);
      }
    }
    @else {
      @return map-get($brand-colors, $color);
    }
  }
}

@mixin generateBrandColors($prefix, $property) {
  @each $name, $color in $brand-colors {
    .#{$prefix}-#{$name} {
      #{$property}: $color;
    }
  }
}

@mixin fill-app-container() {
  min-height: calc(100vh - #{$header-height});

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - #{$header-height-desktop});
  }
}
