@import "mixins";

body {
  font-family: 'Rubik', serif;
  font-size: 16px;
}

.text-display {
  font-size: 72px;
  font-weight: bold;
}

h1,
.h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.08;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 1em;
  }
}

h2,
.h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

h3,
.h3 {
  @include brand-sans-serif-font();
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    font-size: 21px;
  }
}

h4,
.h4 {
  @include brand-sans-serif-font();
  font-size: 16px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.3px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.highlighted {
  @include brand-sans-serif-font();
  font-weight: 500;
  line-height: 1.38;
}

small,
.text-small {
  @include brand-sans-serif-font();
  font-size: 14px;
}
