/* Variables */

/* COLORS */
$brand-colors: (
  text: (
    default: #595959,
    light: #757575,
    lighter: #949494,
    dark: #252525,
    darker: #000000,
  ),
  border: #949494,
  default-primary:  #E188B6,
  default-secondary:  #67BB56,
  default-grey: #9caea5,
  default-white: #ffffff,
  deep-green: #153E3A
);

/* HEADER */
$header-height: 48px;
$header-height-desktop: 48px;

/* FOOTER */
$footer-height: 48px;
$footer-height-desktop: 48px;

$link-colour: #67BB56;
$link-colour-alt: brand('deep-green');

$brand-error: #FF6F59;
