<ng-container>
  <div class="form-wrapper">
    <form class="form-row" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col-12">

        <!-- Current password -->
        <div class="form-group" *ngIf="requireOldPassword">
          <label for="oldPassword">Current password</label>
          <input class="form-control" type="password" id="oldPassword" formControlName="oldPassword">
        </div>

        <!-- Password -->
        <div class="form-group" [class.invalid]="hasError('password')">
          <label for="password">New Password</label>
          <input class="form-control" type="password" id="password" formControlName="password">
        </div>
        <div class="alert alert-danger" *ngIf="hasError('password') || isControlDirty('password')">
          Please enter a valid password
        </div>
      </div>

      <div class="col-12">
        <!-- Confirm Password -->
        <div class="form-group" [class.invalid]="hasError('confirmationPassword')">
          <label for="confirmationPassword">Confirm Password</label>
          <input class="form-control" type="password" id="confirmationPassword" formControlName="confirmationPassword">
        </div>
        <div class="alert alert-danger" *ngIf="(hasError('confirmationPassword') || isControlDirty('confirmationPassword'))  && !hasError('password')">
          Password confirmation does not match the password
        </div>
      </div>
    </form>

    <ng-container *ngIf="error">
      <ng-container *ngTemplateOutlet="isError"></ng-container>
    </ng-container>

    <div class="text-right">
      <button class="btn btn-link" (click)="cancel()" [disabled]="saving">Cancel</button>
      <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid || saving || passwordStrength < 2">
        Submit <span *ngIf="saving">&nbsp;<fa-icon icon="spinner" spin="true"></fa-icon></span>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #isError>
  <ng-container [ngSwitch]="error.code">
    <div class="col-12">
      <div class="alert alert-danger" *ngSwitchCase="'email_taken'">
        An account is already registered under that email address
      </div>
      <div class="alert alert-danger" *ngSwitchCase="'invalid_email_domain'">
        Your email domain does not match one of the elected domains of the organisation you are attempting to register
        against
      </div>
      <div class="alert alert-danger" *ngSwitchCase="'invalid-request'">
        {{error.message}}
      </div>
      <div class="alert alert-danger" *ngSwitchCase="'validation_error'">
        Some data is missing or incorrect
      </div>
      <div class="alert alert-danger" *ngSwitchDefault>
        Something went wrong: {{error | prettyJson}}
      </div>
    </div>
  </ng-container>
</ng-template>
