<div class="login-panel">

  <h1 class="title">Forgotten password</h1>

  <div class="form-body">
    <ng-container *ngIf="!success; else isSuccess">
      <ng-container *ngIf="!loading; else isLoading">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" autocapitalize="none" formControlName="email" class="form-control" id="email">
          </div>

          <ng-container *ngIf="error">
            <ng-container *ngTemplateOutlet="isError"></ng-container>
          </ng-container>

          <div class="form-btns">
            <button type="submit" class="btn btn-primary" [disabled]="loading">
              Submit
            </button>
            <!--      <button routerLink="/" class="ml-2 btn btn-outline-primary" [disabled]="loading">-->
            <!--        Cancel-->
            <!--      </button>-->
          </div>
        </form>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #isError>
  <div class="alert alert-danger" [ngSwitch]="error.code">
    <span *ngSwitchCase="'invalid_credentials'">
      Incorrect email or password.
    </span>
    <span *ngSwitchCase="'account_locked'">
      Your account has been locked.
    </span>
    <span *ngSwitchCase="'account_pending'">
      Your email address needs to be verified before you can access your account.
    </span>
    <span *ngSwitchCase="'UserNotConfirmedException'">
      You have not yet confirmed your email address. Please confirm before logging in.
    </span>
    <span *ngSwitchCase="'invalid_device_code'">
      The pin you entered is incorrect. Try again or contact support if the issue persists.
    </span>
    <span *ngSwitchDefault>
      Something went wrong: {{error | prettyJson}}
    </span>
  </div>
</ng-template>

<ng-template #isSuccess>
  <p>If this email address is valid, you will receive an email with instructions on how to log back into [cu]health.</p>
</ng-template>
<ng-template #isLoading>
  <app-loading></app-loading>
</ng-template>
