<div *ngIf="results" class="pagination">
  <div class="page">Page {{page+1}} of {{results.totalPages}}</div>
  <button class="btn" (click)="prevPage()" [disabled]="!hasPrev">
    <fa-icon icon="chevron-left"></fa-icon>
  </button>
  <button class="btn" (click)="nextPage()" [disabled]="!hasNext">
    <fa-icon icon="chevron-right"></fa-icon>
  </button>
</div>
